@import "tailwindcss";

@theme {
  --font-serif: var(--font-playfair);
  --font-sans: var(--font-inter);
}

:root {
  --background: #0f0101;
  --foreground: #f5e6d3;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  overflow-x: hidden;
}

h1, h2, h3, .font-serif {
  font-family: var(--font-playfair), serif;
}

.font-sans {
  font-family: var(--font-inter), sans-serif;
}
